<app-loading-animation *ngIf="isLoading"></app-loading-animation>

<div *ngIf="!isLoading" class="todoList-container">
  <div class="todo-list-container">
    <app-todo-item
      class="todo-item"
      [class.anim-iterative-in]="!isEdited"
      *ngFor="let todo of getActiveTodos()"
      [todoInput]="todo"
      [propertyId]="propertyId"
      (deleteTodo)="deleteTodo($event)"
      (toggleCompleted)="toggleCompleted($event)"
    >
    </app-todo-item>
  </div>
  <button class="todoList-seeCompleted" (click)="toggleShowCompleted()">
    {{ showCompleted ? 'Hide' : 'Show' }} completed todos
  </button>
  <div class="todo-list-container todo-list-container-completed">
    <app-todo-item
      class="todo-item"
      *ngFor="let todo of getCompletedTodos()"
      [todoInput]="todo"
      [propertyId]="propertyId"
      (deleteTodo)="deleteTodo($event)"
      (toggleCompleted)="toggleCompleted($event)"
    >
    </app-todo-item>
  </div>
</div>
