@import 'src/assets/styles/themes.scss';

.todoList {
  &-seeCompleted {
    @include button-default;
    color: $color-text-tertiary;
    margin-top: $spacing-small;
  }
}
.flex {
  display: flex;
  align-items: center;
}

.item {
  width: 120px;
}

.table-header {
  border-bottom: 2px solid $pink;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.completed {
}

.todo-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  &-completed {
    margin-top: 10px;
  }
}

.todo-item {
}
