<h3>Todos</h3>
<app-loading-animation *ngIf="isLoading"></app-loading-animation>

<div *ngIf="!isLoading" class="todoList-container">
  <app-todo-item
    *ngFor="let todo of getActiveTodos()"
    [todoInput]="todo"
    [propertyId]="propertyId"
    (deleteTodo)="deleteTodo($event)"
    (toggleCompleted)="toggleCompleted($event)"
  >
  </app-todo-item>
  <button *ngIf="!showCompleted" (click)="setShowCompleted()">
    Show completed todos
  </button>
  <app-todo-item
    *ngFor="let todo of getCompletedTodos()"
    [todoInput]="todo"
    [propertyId]="propertyId"
    (deleteTodo)="deleteTodo($event)"
    (toggleCompleted)="toggleCompleted($event)"
  >
  </app-todo-item>
</div>
