@import 'src/assets/styles/themes.scss';

.list-item {
  padding: 10px;
  animation: enter-list 500ms forwards;
  position: relative;
  opacity: 0;
  width: 33%;
  min-width: 200px;

  @for $num from 1 through 20 {
    &:nth-child(#{$num}) {
      animation-delay: $num * 50ms;
    }
  }
}

@keyframes enter-list {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.preview-image {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 200px;
}

.property-name {
  display: block;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
