<div class="confirmationModal-container">
  <div class="confirmationModal-iconContainer">
    <app-ui-icon
      class="confirmationModal-icon"
      name="Trash2"
      size="medium"
    ></app-ui-icon>
  </div>
  <div class="confirmationModal-content">
    <h2 class="confirmationModal-title">
      You are about to delete a {{ object }}.
    </h2>
    <span class="confirmationModal-message"
      >This will permanently delete your {{ object }}. Do you want to
      continue?</span
    >
  </div>
  <div class="confirmationModal-buttons">
    <button class="confirmationModal-button--cancel" (click)="deny()">
      Cancel
    </button>
    <button class="confirmationModal-button--confirm" (click)="accept()">
      Delete
    </button>
  </div>
</div>
