@import 'src/assets/styles/themes.scss';

$icon-container-height: 72px;

.confirmationModal {
  &-container {
    @include flex(column);
    align-items: center;
    position: relative;
    width: 500px;
  }

  &-iconContainer {
    @include center-contents;
    @include box-shadow(light);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $spacing-smaller;
    background-color: $color-bg-danger;
    border-radius: $br-max;
    margin-bottom: $spacing-tiny;
  }

  &-icon {
    color: $color-text-danger;
  }

  &-content {
    @include flex(column);
    align-items: center;
    text-align: center;
    padding: $spacing-small $spacing-lrg;
    margin-top: $icon-container-height / 2;
  }

  &-title {
    margin-bottom: $spacing-tiny;
    color: $color-text-primary;
    font-weight: $semi-bold;
    font-size: $font-default;
  }

  &-message {
    color: $color-text-copy;
    font-size: $font-standard;
  }

  &-buttons {
    @include modal-buttons;
  }
  &-button {
    $btn: &;
    @include space-by(right, $spacing-tiny);

    &--confirm {
      @extend #{$btn};
      @include button(danger, small);
    }
    &--cancel {
      @extend #{$btn};
      @include button(tertiary, small);
    }
  }
}
