.property-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select-image {
}

.inputImageHidden {
  visibility: hidden;
}

.image-preview {
  width: 300px;

  img {
    width: 100%;
  }
}

input {
  min-width: 300px;
}
