<h2>Add new property</h2>
<form [formGroup]="propertyForm" class="property-form" (ngSubmit)="submit()">
  <label>Property Name</label>
  <input
    ngx-google-places-autocomplete
    [options]="options"
    #placesRef="ngx-places"
    (onAddressChange)="handleAddressChange($event)"
  />
  <input
    placeholder="Street Address"
    type="text"
    formControlName="name"
    class="property-form__input"
    required
  />
  <input
    placeholder="Town"
    type="text"
    formControlName="town"
    class="property-form__input"
  />
  <input
    placeholder="Country"
    type="text"
    formControlName="country"
    class="property-form__input"
  />
  <input
    placeholder="Country"
    type="text"
    formControlName="url"
    class="property-form__input"
    disabled
    hidden
  />
  <label>Monthly Rent Income</label>
  <input
    type="text"
    class="property-form__input"
    placeholders="Monthly Rent"
    formControlName="monthlyRent"
    required
  />

  <input #imagePicker type="file" (change)="onImagePicked($event)" />
  <input type="submit" value="Submit" class="property-form__submit" />
</form>

<div
  class="image-preview"
  *ngIf="imagePreview !== '' && imagePreview && propertyForm.get('image').valid"
>
  <img [src]="imagePreview" />
</div>
