.anim-iterative-in {
  animation: enter-list 500ms forwards;
  position: relative;
  opacity: 0;

  @for $num from 1 through 20 {
    &:nth-child(#{$num}) {
      animation-delay: $num * 50ms;
    }
  }
}

@keyframes enter-list {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
