<div class="login-container">
  <img
    class="login-branding"
    src="../../../assets/images/branding.svg"
    alt=""
  />
  <div class="login-subtext">
    Don't have an account?
    <a class="login-subtext__link" routerLink="/register">Create one now.</a>
  </div>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <input
      name="email"
      placeholder="Email"
      type="email"
      formControlName="email"
      class="login-form__input"
      required
    />
    <input
      name="password"
      type="password"
      class="login-form__input"
      placeholder="Password"
      formControlName="password"
      required
    />
    <label class="login-form__checkbox-container">
      <input
        class="login-form__checkbox"
        type="checkbox"
        name="remember"
      /><span class="login-form__checkbox-label">Remember Me</span>
    </label>
    <div class="login-form__bottomRow">
      <a class="login-form__forgotPassword" routerLink="/">Forgot password?</a>
      <input class="login-form__submit" type="submit" value="Log in" />
    </div>
  </form>
</div>
