@import 'src/assets/styles/themes.scss';

:host {
  @include center-contents;
  background-image: url('../../../assets/images/login-background.png');
  background-size: cover;
  height: 100%;
}

.login {
  &-container {
    @include card-default;
    @include flex(column);
    padding: $spacing-lrg;
    border-radius: $br-med;

    @include media($phone) {
      padding: $spacing-lrg $spacing-med;
    }
  }

  &-branding {
    margin-bottom: 50px;
  }

  &-subtext {
    font-size: $font-small;
    margin-bottom: 20px;
    &__link {
      color: $color-text-highlight;
      font-weight: $semi-bold;
      text-decoration: none;
    }
  }

  &-form {
    @include flex(column);

    &__input {
      @include default-text-input;
      margin-bottom: 10px;
      width: 400px;
      margin-bottom: 20px;

      @include media($tablet) {
        width: 100%;
      }
    }

    &__bottomRow {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__forgotPassword {
      text-decoration: none;
      font-size: $font-small;
      color: $color-text-grey;

      @include hover($t250) {
        color: $color-text-highlight;
      }
    }

    &__submit {
      @include button(primary);
    }

    &__checkbox {
      margin-bottom: 30px;
    }
  }
}
