<app-loading-animation *ngIf="isLoading"></app-loading-animation>

<div class="login-container" *ngIf="!isLoading">
  <img
    class="login-branding"
    src="../../../assets/images/branding.svg"
    alt=""
  />
  <div class="login-subtext">
    Don't have an account?
    <a class="login-subtext__link" routerLink="/register">Create one now.</a>
  </div>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <input
      name="email"
      placeholder="Email"
      type="email"
      formControlName="email"
      class="login-form__input"
      required
      autofocus
    />
    <input
      name="password"
      type="password"
      class="login-form__input"
      placeholder="Password"
      formControlName="password"
      required
    />
    <app-checkbox
      class="login-form__checkbox"
      label="Remember Me"
    ></app-checkbox>
    <div class="login-form__bottomRow">
      <a class="login-form__forgotPassword" routerLink="/">Forgot password?</a>
      <input class="login-form__submit" type="submit" value="Log in" />
    </div>
  </form>
</div>
