<app-loading-animation *ngIf="isLoading"></app-loading-animation>
<div class="todoCreate-container" *ngIf="!isLoading">
  <h2 class="todoCreate-header">{{ getModalHeader() }}</h2>
  <form
    [formGroup]="todoForm"
    class="todoCreate-form"
    (ngSubmit)="submitTodo()"
  >
    <app-input-text
      class="todoCreate-inputContainer"
      [formInputParentForm]="todoForm"
      formInputLabel="Title"
      formInputControl="title"
    ></app-input-text>

    <app-input-date
      class="todoCreate-inputContainer"
      [formInputParentForm]="todoForm"
      formInputControl="date"
      formInputLabel="Due Date"
    ></app-input-date>

    <label class="todoCreate-label">Severity</label>
    <select formControlName="severity" class="todoCreate-dropdown">
      <option value="" disabled selected>Severity</option>
      <option value="easy">Easy</option>
      <option value="moderate">Moderate</option>
      <option value="severe">Severe</option>
    </select>

    <label *ngIf="!propertyId" class="todoCreate-label">Property</label>
    <select
      *ngIf="!propertyId"
      formControlName="property"
      class="todoCreate-dropdown"
      placeholder="Property"
    >
      <option value="" disabled selected>Property</option>
      <option *ngFor="let option of propertyOptions" value="{{ option.id }}">{{
        option.name
      }}</option>
    </select>

    <div class="todoCreate-buttons">
      <button (click)="closeModal()" class="todoCreate-cancel">Cancel</button>
      <input type="submit" value="Add Todo" class="todoCreate-submit" />
    </div>
  </form>
</div>
