<app-loading-animation *ngIf="isLoading"></app-loading-animation>
<div class="todoCreate-container" *ngIf="!isLoading">
  <form
    [formGroup]="todoForm"
    class="todoCreate-form"
    (ngSubmit)="submitTodo()"
  >
    <input
      placeholder="Title"
      type="text"
      formControlName="title"
      class="todoCreate-input"
      required
    />
    <input
      placeholder="Date"
      type="date"
      formControlName="date"
      class="todoCreate-input"
    />
    <select formControlName="severity" class="todoCreate-dropdown">
      <option value="" disabled selected>Severity</option>
      <option value="easy">Easy</option>
      <option value="moderate">Moderate</option>
      <option value="severe">Severe</option>
    </select>

    <select
      *ngIf="!propertyId"
      formControlName="propertyId"
      class="todoCreate-dropdown"
      placeholder="Property"
    >
      <option value="" disabled selected>Property</option>
      <option *ngFor="let option of propertyOptions" value="{{ option.id }}">{{
        option.name
      }}</option>
    </select>

    <input type="submit" value="Add Todo" class="todoCreate-submit" />
  </form>
</div>
