<form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
  <input
    placeholder="Name"
    type="text"
    formControlName="name"
    class="register-form__input"
    required
  />
  <input
    placeholder="Email"
    type="email"
    formControlName="email"
    class="register-form__input"
    required
  />
  <input
    type="password"
    class="register-form__input"
    placeholders="Password"
    formControlName="password"
    required
  />
  <input type="submit" value="Register" class="register-form__submit" />
</form>
