<div class="register-container">
  <img
    class="register-branding"
    src="../../../assets/images/branding.svg"
    alt=""
  />
  <div class="register-subtext">
    Already have an account?
    <a class="register-subtext__link" routerLink="/login">Log in.</a>
  </div>
  <form
    [formGroup]="registerForm"
    class="register-form"
    (ngSubmit)="register()"
  >
    <input
      name="name"
      placeholder="Name"
      type="text"
      formControlName="name"
      class="register-form__input"
      required
      autofocus
    />
    <input
      name="email"
      placeholder="Email"
      type="email"
      formControlName="email"
      class="register-form__input"
      required
    />
    <input
      name="password"
      type="password"
      class="register-form__input"
      placeholder="Password"
      formControlName="password"
      required
    />
    <app-checkbox
      class="register-form__checkbox"
      label="Remember Me"
      (checkboxIsChecked)="setRemember($event)"
    ></app-checkbox>
    <input
      class="register-form__submit"
      type="submit"
      value="Register"
      class="register-form__submit"
    />
  </form>
</div>
