<h2>Add new property</h2>
<form [formGroup]="propertyForm" class="property-form" (ngSubmit)="submit()">
  <label>Property Name</label>
  <input
    placeholder="Property Name"
    type="text"
    formControlName="name"
    class="property-form__input"
    required
  />
  <label>Monthly Rent Income</label>
  <input
    type="text"
    class="property-form__input"
    placeholders="Monthly Rent"
    formControlName="monthlyRent"
    required
  />
  <input type="submit" value="Submit" class="property-form__submit" />
</form>
