<app-loading-animation *ngIf="isLoading" [isLoadingModal]="true"></app-loading-animation>

<div *ngIf="property" class="propertySummaryView-container">
  <h2 class="propertySummaryView-title">{{ property.name }}</h2>

  <div class="propertySummaryView-grid">
    <img class="propertySummaryView-featureImage propertySummaryView-spacedElement" [src]="property.image" alt="" />

    <div class="propertySummaryView-mapContainer propertySummaryView-spacedElement">
      <iframe
        class="propertySummaryView-map"
        id="gmap_canvas"
        [src]="getPropertyUrl() | safeUrl"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe>
    </div>

    <div class="propertySummaryView-keyActions propertySummaryView-spacedElement">
      <a routerLink="/properties/{{ property._id }}/edit" class="propertySummaryView-action">
        <app-ui-icon class="propertySummaryView-action__icon" size="tiny" name="Edit"></app-ui-icon>

        <span>Edit Property</span>
      </a>

      <button (click)="openCreateTodoModal()" class="propertySummaryView-action">
        <app-ui-icon size="tiny" name="check-square" class="propertySummaryView-action__icon"></app-ui-icon>

        <span>Add To-Do</span>
      </button>

      <button (click)="openCreateTenantModal()" class="propertySummaryView-action">
        <app-ui-icon class="propertySummaryView-action__icon" size="tiny" name="users"></app-ui-icon>

        <span>Add Tenant</span>
      </button>

      <button (click)="openConfirmDeleteModal()" class="propertySummaryView-action--danger">
        <app-ui-icon class="propertySummaryView-action__icon" size="tiny" name="Trash2"></app-ui-icon>

        <span>Delete Property</span>
      </button>
    </div>

    <h3 class="propertySummaryView-mobileHeader">Todos</h3>
    <app-todo-list
      class="propertySummaryView-todoList propertySummaryView-spacedElement"
      [propertyId]="propertyId"
    ></app-todo-list>

    <h3 class="propertySummaryView-mobileHeader">Tenants</h3>

    <app-tenant-list
      class="propertySummaryView-tenants propertySummaryView-spacedElement"
      [propertyId]="propertyId"
    ></app-tenant-list>
    <h3 class="propertySummaryView-mobileHeader">Payments</h3>

    <app-payment-list
      class="propertySummaryView-payments propertySummaryView-spacedElement"
      [paymentListPayments]="payments"
    ></app-payment-list>
  </div>
</div>
