@import 'src/assets/styles/themes.scss';

.tenantOverview {
  &-container {
    @include flex(column);
  }

  &-card {
    display: block;
    margin-bottom: 15px;
  }

  &-deleteButton {
    @include button(danger);
    margin-bottom: 15px;
    align-self: flex-start;
    width: auto;
  }
}

.tempButton {
  @include button(default);
  margin-bottom: 15px;
}

.spacer {
  padding: 100px;
}
