<div class="paymentList-container">
  <table
    #paymentTable
    class="paymentList-table"
    mat-table
    [dataSource]="paymentListPayments"
  >
    <ng-container matColumnDef="amount">
      <th class="paymentList-tableHeader" mat-header-cell *matHeaderCellDef>
        Amount
      </th>
      <td mat-cell *matCellDef="let payment">
        <h3 class="paymentList-amount">
          {{ payment.amount | currency: 'GBP' }}
        </h3>

        <ng-container *ngIf="payment.tenant">
          <div *ngIf="payment.tenant && payment.tenant.name">
            {{ payment.tenant.name }}
          </div>
          <i *ngIf="!payment.tenant">Tenant Deleted</i>
        </ng-container>

        <ng-container *ngIf="payment.property">
          <div *ngIf="payment.property && payment.property.name">
            {{ payment.property.name }}
          </div>
          <i *ngIf="!payment.property">Property Deleted</i>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="paymentList-tableHeader" mat-header-cell *matHeaderCellDef>
        Status
      </th>
      <td mat-cell *matCellDef="let payment">
        <app-ui-pill
          [uiPillContent]="payment.status"
          [uiPillColor]="
            payment.status === 'overdue'
              ? 'severe'
              : payment.status === 'paid'
              ? 'easy'
              : 'moderate'
          "
        ></app-ui-pill>
      </td>
    </ng-container>

    <ng-container matColumnDef="due">
      <th class="paymentList-tableHeader" mat-header-cell *matHeaderCellDef>
        Due
      </th>
      <td mat-cell *matCellDef="let payment">
        {{ payment.due | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="recurring">
      <th class="paymentList-tableHeader" mat-header-cell *matHeaderCellDef>
        Recurring
      </th>
      <td mat-cell *matCellDef="let payment">
        <div class="paymentList-recurringContainer">
          <app-ui-pill
            (click)="toggleRecurring(payment._id, payment.recurring)"
            class="paymentList-recurring"
            [uiPillColor]="payment.recurring ? 'easy' : 'severe'"
            uiPillContent=""
            [uiPillIcon]="payment.recurring ? 'check-circle' : 'x-circle'"
          ></app-ui-pill>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="paymentList-tableHeader" mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let payment">
        <div class="paymentList-actionContainer">
          <app-ui-pill
            *ngIf="!payment.paid"
            (click)="markAsPaid(payment._id)"
            class="paymentList-action"
            uiPillContent="Paid"
            uiPillIcon="dollar-sign"
            uiPillColor="easy"
          ></app-ui-pill>
          <app-ui-pill
            (click)="deletePayment(payment._id)"
            class="paymentList-action"
            uiPillContent="Delete"
            uiPillColor="severe"
            uiPillIcon="trash2"
          ></app-ui-pill>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: getDisplayedColumns()"></tr>
  </table>
</div>
