@import 'src/assets/styles/themes.scss';

.app {
  display: flex;
}
.main {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.router {
}

.logged-in {
  padding: $spacing-small;
}

.logged-out {
  height: 100%;
}
