<div class="paymentCreate-container">
  <h2 class="paymentCreate-header">Add new payment</h2>

  <form
    [formGroup]="paymentForm"
    (ngSubmit)="submitPayment()"
    class="paymentCreate-form"
  >
    <app-input-text
      class="paymentCreate-input"
      formInputControl="amount"
      [formInputParentForm]="paymentForm"
      formInputLabel="Monthly Amount"
    ></app-input-text>

    <app-input-date
      class="paymentCreate-input"
      [formInputParentForm]="paymentForm"
      formInputControl="due"
      formInputLabel="Date Due"
    ></app-input-date>

    <app-checkbox
      class="paymentCreate-input"
      [checkboxDefault]="false"
      label="Paid"
      (click)="togglePaid()"
    ></app-checkbox>

    <app-checkbox
      class="paymentCreate-input"
      [checkboxDefault]="false"
      label="Recurring Payment?"
      (click)="toggleRecurring($event)"
    ></app-checkbox>

    <div class="paymentCreate-buttons">
      <button (click)="closeModal()" class="paymentCreate-cancel">
        Cancel
      </button>
      <input
        type="submit"
        value="Create Payment"
        class="paymentCreate-submit"
      />
    </div>
  </form>
</div>
