@import 'src/assets/styles/themes.scss';

.tenantList {
  &-title {
    color: $blue;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  @include media($tablet) {
    grid-template-columns: 1fr;
  }
}

.table-header {
  border-bottom: 2px solid $pink;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
