@import 'src/assets/styles/themes.scss';

.todoItem {
  $cmp: &;

  &-container {
    padding: $spacing-small;
    @include card-default;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
  }

  &--completed {
    background-color: lighten($color-bg-success, 3%);
    color: grey;
  }

  &-checkbox {
    margin-right: $spacing-med;
  }

  &-content {
  }

  &-heading {
    align-items: center;
    font-size: 16px;
    font-weight: $semi-bold;
    color: $color-text-primary;
    line-height: 140%;
  }

  &-severity {
    margin: 0 15px;

    @include media($tablet) {
      display: none;
    }
  }

  &-meta {
    @include flex(row);
    align-items: center;
    color: $color-text-tertiary;
    font-size: 14px;
    margin-top: 5px;
  }

  &-propertyContainer {
    @include media($tablet) {
      display: none;
    }
  }

  &-property {
    color: $pink;
    @include flex(row);
    align-items: center;
    line-height: 100%;
    margin-right: $spacing-tiny;

    @include hover(0) {
      text-decoration: underline;
    }
  }

  &-addProperty {
    @include button-default;
    @extend #{$cmp}-property;
  }

  &-date {
    @include button-default;
    @include flex(row);
    align-items: center;
    line-height: 100%;
    color: $color-text-tertiary;

    @include hover(0) {
      text-decoration: underline;
    }
  }

  &-menu {
    @include button-default;
  }

  &-inlineIcon {
    display: inline;
    margin-right: 5px;
  }

  &-daysLeft {
    margin-left: 5px;
    vertical-align: baseline;
    display: inline-block;
    //! Hacky way to align them
    position: relative;
    top: -2px;
  }
}
