<div class="todoItem-container" [class.todoItem--completed]="todo.completed">
  <app-checkbox
    class="todoItem-checkbox"
    [checkboxDefault]="todo.completed"
    (click)="emitToggleCompleted()"
  ></app-checkbox>
  <div class="todoItem-content">
    <div class="todoItem-heading">
      {{ todo.title }}
      <app-ui-pill
        class="todoItem-daysLeft"
        *ngIf="todo.date && !todo.completed"
        [uiPillContent]="daysLeft()"
      ></app-ui-pill>
    </div>

    <div
      class="todoItem-meta"
      *ngIf="(todo.propertyName || todo.date) && !propertyId"
    >
      <div *ngIf="!propertyId" class="todoItem-propertyContainer">
        <a
          *ngIf="todo.propertyId"
          class="todoItem-property"
          [routerLink]="['/properties', todo.propertyId]"
        >
          <app-ui-icon
            class="todoItem-inlineIcon"
            name="home"
            size="micro"
          ></app-ui-icon>
          {{ todo.propertyName }}
        </a>
      </div>
      <span
        class="todoItem-metaDivider"
        *ngIf="todo.propertyName && todo.date && !propertyId"
      >
      </span>
      <span *ngIf="todo.date" class="todoItem-date">
        <app-ui-icon
          class="todoItem-inlineIcon"
          name="calendar"
          size="micro"
        ></app-ui-icon
        >{{ formatDate() }}</span
      >
    </div>
  </div>
  <app-ui-pill
    [uiPillContent]="todo.severity"
    *ngIf="todo.severity"
    class="todoItem-severity"
  ></app-ui-pill>
  <button class="todoItem-menu" (click)="emitDeleteTodo()">
    <app-ui-icon name="more-vertical"></app-ui-icon>
  </button>
</div>
