<div class="todoItem-container" [class.todoItem--completed]="todo.completed">
  <app-checkbox
    class="todoItem-checkbox"
    [checkboxDefault]="todo.completed"
    (click)="emitToggleCompleted()"
  ></app-checkbox>
  <div class="todoItem-content">
    <div class="todoItem-heading">
      {{ todo.title }}
      <app-ui-pill
        class="todoItem-daysLeft"
        *ngIf="todo.date && !todo.completed"
        [uiPillContent]="daysLeftToString()"
        [uiPillColor]="getDaysLeftColor()"
      ></app-ui-pill>
    </div>

    <div class="todoItem-meta" *ngIf="hasMeta || showMeta">
      <div
        *ngIf="!propertyId && (!!todo.property || showMeta)"
        class="todoItem-propertyContainer"
      >
        <ng-container *ngIf="!!todo.property">
          <a
            class="todoItem-property"
            [routerLink]="['/properties', todo.property._id]"
          >
            <app-ui-icon
              class="todoItem-inlineIcon"
              name="home"
              size="micro"
            ></app-ui-icon>
            {{ todo.property.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="!todo.property && showMeta">
          <button class="todoItem-addProperty" (click)="editTodo()">
            <app-ui-icon
              class="todoItem-inlineIcon"
              name="home"
              size="micro"
            ></app-ui-icon>
            Attach Property
          </button>
        </ng-container>
      </div>
      <button class="todoItem-date" *ngIf="showMeta || todo.date">
        <app-ui-icon
          class="todoItem-inlineIcon"
          name="calendar"
          size="micro"
        ></app-ui-icon
        >{{ todo.date ? formatDate() : 'Add Date' }}
      </button>
    </div>
  </div>
  <app-ui-pill
    [uiPillContent]="todo.severity"
    *ngIf="todo.severity"
    class="todoItem-severity"
  ></app-ui-pill>
  <app-context-menu
    class="todoItem-menu"
    [contextMenuConfig]="contextMenuConfig"
    (contextMenuOnSelect)="onActionSelect($event)"
  ></app-context-menu>
</div>
