<app-loading-animation *ngIf="isLoading"></app-loading-animation>
<div class="tenantForm-container" *ngIf="!isLoading">
  <h2 class="tenantForm-header">Add New Tenant</h2>
  <form [formGroup]="tenantForm" class="tenantForm-form" (ngSubmit)="submitTenant()">
    <app-input-text
      class="tenantForm-inputContainer"
      [formInputParentForm]="tenantForm"
      formInputLabel="Name"
      formInputControl="name"
    ></app-input-text>

    <app-input-text
      class="tenantForm-inputContainer"
      [formInputParentForm]="tenantForm"
      formInputLabel="Email Address"
      formInputControl="email"
      formInputType="email"
    ></app-input-text>

    <app-input-text
      class="tenantForm-inputContainer"
      [formInputParentForm]="tenantForm"
      formInputLabel="Phone Number"
      formInputControl="phone"
      formInputType="tel"
    ></app-input-text>

    <div class="tenantForm-dropdownContainer" *ngIf="!propertyId && propertyOptions.length">
      <label class="tenantForm-label">Property</label>
      <select class="tenantForm-dropdown" formControlName="property" placeholder="Property">
        <option value="" disabled selected>Property</option>
        <option *ngFor="let option of propertyOptions" value="{{ option.id }}">{{ option.name }}</option>
      </select>
    </div>
    <div class="tenantForm-buttons">
      <button (click)="closeModal()" class="tenantForm-cancel">Cancel</button>
      <input type="submit" value="Save Tenant" class="tenantForm-submit" />
    </div>
  </form>
</div>
