@import 'src/assets/styles/themes.scss';

.propertyCard {
  &-container {
    @include flex(column);
    @include card-default;
    border-radius: $br-small;
    position: relative;
    top: 0;

    @include hover($t150) {
      top: -5px;
      @include box-shadow(feint-active);
    }
  }
  &-imageContainer {
    height: 160px;
    position: relative;
  }
  &-image {
    @include image-default;
    height: 100%;
  }

  &-todoCount {
    position: absolute;
    bottom: 0;
    left: $spacing-small;
    transform: translateY(50%);
    cursor: pointer;
    border: 2px solid $color-text-button-highlight;
    border-radius: $br-max;
    transform-origin: bottom;

    @include hover($t250) {
      transform: scale(1.1) translateY(50%);
    }
  }

  &-avatarContainer {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: $spacing-small;
    display: flex;
  }

  &-avatar {
    cursor: pointer;

    @include hover($t150) {
      transform: scale(1.1);
    }
  }
  &-contents {
    padding: $spacing-smaller $spacing-smaller $spacing-tiny;
  }

  &-income {
    margin-bottom: $spacing-smallest;
    &__amount {
      font-weight: $extra-bold;
      letter-spacing: 1px;
      font-size: $font-large;
      color: $color-text-primary;
    }
    &__interval {
      font-size: $font-small;
      font-weight: $extra-bold;
      color: $color-text-highlight;
    }
  }

  &-address {
    text-transform: uppercase;
    color: $color-text-primary;
    font-size: $font-tiny;
    letter-spacing: 1.2px;
    font-weight: $standard;
    margin-bottom: $spacing-tiny;
  }

  &-button {
    @include center-contents;
    @include button-plain;
    width: 100%;
  }

  &-contact {
    @include flex(row);
    justify-content: space-between;
    background-color: $color-bg-light;
    padding: $spacing-tiny $spacing-small;

    &__tenant {
      @include flex(column);
    }

    &__tenantLabel {
      font-size: $font-tiny;
      font-weight: $extra-bold;
      text-transform: uppercase;
      color: $color-text-highlight;
      margin-bottom: $spacing-smallest;
    }

    &__tenantName {
      color: $color-text-tertiary;
      font-weight: $light;
      font-size: $font-standard;
    }

    &__buttons {
      @include flex(row);
      align-items: center;
    }
    &__button {
      color: $color-text-highlight--inactive;
      @include space-by(right, $spacing-small);
      @include hover($t250) {
        color: $color-text-highlight;
      }
    }
  }
}
