<div class="propertyCard-container">
  <div class="propertyCard-imageContainer">
    <img class="propertyCard-image" [src]="property.image" />
    <app-ui-pill
      uiPillIcon="check-square"
      routerLink="/properties/{{ property._id }}"
      *ngIf="property.todoCount"
      class="propertyCard-todoCount"
      [uiPillContent]="property.todoCount"
    ></app-ui-pill>
    <div class="propertyCard-avatarContainer">
      <app-avatar-icon
        routerLink="/tenants/{{ tenant._id }}"
        class="propertyCard-avatar"
        *ngFor="let tenant of property.tenants"
        [avatarIcon]="tenant.avatar"
      ></app-avatar-icon>
    </div>
  </div>
  <div class="propertyCard-contents">
    <div class="propertyCard-income">
      <span class="propertyCard-income__amount"
        >£{{ property.monthlyRent }}</span
      >
      <span class="propertyCard-income__interval"> / month</span>
    </div>
    <div class="propertyCard-address">{{ property.name }}</div>
    <a routerLink="/properties/{{ property._id }}" class="propertyCard-button"
      >View Details</a
    >
  </div>
</div>
