<div class="propertyCard-container">
  <div class="propertyCard-imageContainer">
    <img class="propertyCard-image" [src]="property.image" />
    <div class="propertyCard-avatarContainer">
      <app-avatar-icon
        routerLink="/tenants/{{ tenant._id }}"
        class="propertyCard-avatar"
        *ngFor="let tenant of property.tenants"
        [avatarIcon]="tenant.avatar"
      ></app-avatar-icon>
    </div>
  </div>
  <div class="propertyCard-contents">
    <div class="propertyCard-income">
      <span class="propertyCard-income__amount"
        >£{{ property.monthlyRent }}</span
      >
      <span class="propertyCard-income__interval"> / month</span>
    </div>
    <div class="propertyCard-address">{{ property.name }}</div>
    <a routerLink="/properties/{{ property._id }}" class="propertyCard-button"
      >View Details</a
    >
  </div>
  <!-- <div class="propertyCard-contact">
    <div class="propertyCard-contact__tenant">
      <span class="propertyCard-contact__tenantLabel">Tenant</span>
      <span class="propertyCard-contact__tenantName">
        <span *ngIf="property.leadTenant">{{ property.leadTenant.name }}</span>
        <span *ngIf="!property.leadTenant">No tenants</span>
      </span>
    </div>
    <div class="propertyCard-contact__buttons">
      <a
        href="sms://{{ property.leadTenant?.phone }}"
        class="propertyCard-contact__button"
      >
        <app-ui-icon size="tiny" name="message-square"></app-ui-icon>
      </a>
      <a
        href="mailto:{{ property.leadTenant?.email }}"
        class="propertyCard-contact__button"
      >
        <app-ui-icon size="tiny" name="mail"></app-ui-icon>
      </a>
      <a
        href="tel:{{ property.leadTenant?.phone }}"
        class="propertyCard-contact__button"
      >
        <app-ui-icon size="tiny" name="phone"></app-ui-icon>
      </a>
    </div>
  </div> -->
</div>
