<div class="propertyList-container">
  <h2 class="page-title">{{ pageTitle }}</h2>
  <div class="flex-between">
    <div class="search-container">
      <app-search-bar (onSearch)="searchProperties($event)"></app-search-bar>
    </div>
    <button class="add-new">
      <app-ui-icon size="tiny" name="filter" class="button-icon"></app-ui-icon>
      Filter
    </button>
    <a routerLink="create" class="add-new">
      <app-ui-icon size="tiny" name="plus" class="button-icon"></app-ui-icon>
      Add New</a
    >
  </div>
  <app-loading-animation *ngIf="isLoading"></app-loading-animation>
  <p *ngIf="properties && !filteredProperties.length">No properties found.</p>
  <div class="flex-wrap">
    <app-property-card
      class="list-item anim-iterative-in"
      [property]="property"
      *ngFor="let property of filteredProperties"
    ></app-property-card>
  </div>
</div>
