@import 'src/assets/styles/themes.scss';

:host {
  @include center-contents;
}
.icon {
  &-medium {
    width: 32px;
    height: 32px;
  }
  &-small {
    width: 25px;
    height: 25px;
  }
  &-tiny {
    height: 22px;
    width: 22px;
  }

  &-smaller {
    height: 18px;
    width: 18px;
  }
  &-micro {
    height: 14px;
    width: 14px;
  }
}
