@import '~normalize.css';
@import 'src/assets/styles/themes.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
@import 'src/assets/styles/classes/animations';

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat';
  // line-height: 100%;
}

body {
  background-color: $color-bg-main;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

*:focus {
  outline-color: lighten($color-text-highlight, 10%);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
