@mixin card-background {
  background-color: $color-bg-card;
}

@mixin card-default {
  @include card-background;
  @include box-shadow(feint);
  overflow: hidden;
}

@mixin center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex($orientation: row) {
  display: flex;
  @if ($orientation) {
    flex-direction: $orientation;
  }
}

@mixin default-text-input {
  border: none;
  background-color: $color-bg-input;
  border-radius: 5px;
  padding: $spacing-tiny;
  width: 100%;
}

@mixin default-input-label {
  font-size: $font-tiny;
  text-transform: uppercase;
  font-weight: $semi-bold;
  margin-bottom: $spacing-micro;
  color: $color-text-primary;
}

@mixin media($device) {
  @media (max-width: $device) {
    @content;
  }
}

@mixin hover($speed) {
  transition: $speed;
  &:hover {
    @content;
  }
}

@mixin button($type) {
  padding: 13px 40px;
  border-radius: $br-max;
  cursor: pointer;
  font-weight: $semi-bold;

  @if ($type == primary) {
    color: $color-text-button-highlight;
    background-color: $color-bg-highlight;
    @include hover($t250) {
      background-color: darken($color-bg-highlight, 5%);
    }
  }
}

@mixin box-shadow($strength) {
  @if ($strength == 'light') {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  }
  @if ($strength == 'feint') {
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
  }
  @if ($strength == 'feint-active') {
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.12);
  }
}

@mixin pseudo($type) {
  position: relative;
  @if ($type == 'before') {
    &::before {
      content: '';
      position: absolute;
      @content;
    }
  } @else {
    &::after {
      content: '';
      position: absolute;
      @content;
    }
  }
}

@mixin button-default {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@mixin image-default {
  width: 100%;
  object-fit: cover;
}

@mixin border($color) {
  border: 2px solid $color;
}

@mixin button-plain {
  @include button-default;
  @include border($color-bg-input);
  color: $color-text-sidebar;
  background-color: $color-bg-light;
  text-transform: uppercase;
  padding: $spacing-tiny;
  font-weight: $medium;
  font-size: $font-tiny;

  @include hover($t250) {
    background-color: $color-bg-hover-light;
    color: $color-text-highlight;
  }
}

@mixin space-by($direction, $spacing) {
  @if ($direction == 'right') {
    margin-right: $spacing;
    &:last-of-type {
      margin-right: 0px;
    }
  }
}

@mixin modal-header {
  padding-bottom: $spacing-tiny;
  border-bottom: 2px solid $color-text-highlight--inactive;
  margin-bottom: $spacing-small;
  color: $color-text-highlight;
  font-weight: $medium;
}
