//* Colours
$pink: #dc2b6b;
$white: #ffffff;
$pale-blue: #f6f8fd;
$palest-grey: #fafafa;
$pale-grey: #aaaaaa;
$dark-grey: #808080;
$blue: #132253;
$almost-black: #333;
$dark-red: hsl(360, 100%, 40%);
$light-red: hsl(360, 100%, 94%);
$dark-green: hsl(120, 58%, 30%);
$light-green: hsl(120, 58%, 90%);
$dark-default: hsl(240, 58%, 30%);
$light-default: hsl(240, 58%, 90%);
$light-yellow: hsl(55, 92%, 90%);
$dark-yellow: hsl(55, 92%, 25%);

//* Assigned Colours - background
$color-bg-main: $pale-blue;
$color-bg-card: $white;
$color-bg-input: $pale-blue;
$color-bg-highlight: $pink;
$color-bg-light: $palest-grey;
$color-bg-hover-light: $palest-grey;
$color-bg-danger: $light-red;
$color-bg-success: $light-green;
$color-bg-warning: $light-yellow;
$color-bg-default: $light-default;

//* Assigned Colours - text
$color-text-highlight: $pink;
$color-text-grey: $pale-grey;
$color-text-button-highlight: $white;
$color-text-primary: $blue;
$color-text-tertiary: $dark-grey;
$color-text-copy: $almost-black;
$color-text-danger: $dark-red;
$color-text-success: $dark-green;
$color-text-warning: $dark-yellow;
$color-text-default: $dark-default;

$color-text-highlight--inactive: rgba($pink, 0.7);

//* Margin/Padding
$spacing-lrg: 70px;
$spacing-med: 40px;
$spacing-small: 25px;
$spacing-smaller: 20px;
$spacing-tiny: 15px;
$spacing-micro: 10px;
$spacing-smallest: 5px;

//* Border radius
$br-max: 9999px;
$br-med: 10px;
$br-small: 5px;

//* Font weight
$light: 300;
$standard: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//* Transition times
$t250: 250ms;
$t150: 150ms;

//* Breakpoints
$ld: 1014px;
$tablet: 768px;
$phone: 480px;

$font-tiny: 12px;
$font-small: 14px;
$font-standard: 16px;
$font-default: 18px;
$font-large: 24px;
