<div class="todosPage-container">
  <h2 class="todosPage-title">All Todos</h2>
  <div class="todosPage-header">
    <div class="todosPage-searchContainer">
      <app-search-bar (onSearch)="searchTodos($event)"></app-search-bar>
    </div>
    <button (click)="openCreateTodoModal()" class="todosPage-addNew">
      <app-ui-icon size="tiny" name="plus" class="todosPage-addNew__icon"></app-ui-icon>
      <span class="todosPage-addNewText">Add New</span>
    </button>
  </div>
  <app-todo-list [todoListFilteredTodos]="filteredTodos"></app-todo-list>
</div>
