<div class="container" *ngIf="property">
  <h1>{{ property.name }}</h1>
  <div>Price</div>
  <div>{{ property.monthlyRent }}</div>
  <img class="preview-image" [src]="property.image" alt="" />
  <a routerLink="/properties/edit/{{ property._id }}">Edit Property</a>
  <button (click)="openConfirmDeleteModal()">Delete Property</button>
</div>
<app-todo-create [propertyId]="propertyId"></app-todo-create>
<app-todo-list [propertyId]="propertyId"></app-todo-list>
<button (click)="openCreateTenantModal()">Add new tenant</button>
<app-tenant-list [propertyId]="propertyId"></app-tenant-list>
